{{> _head}}
<body class="{{body_class}} has-subnavigation" data-language="{{locale}}">
  {{> _header}}

  <div class="page">
    <div class="container">
      <div class="page-wrapper">

        <div class="page-row">
          <aside class="page-aside">
            {{{aside section}}}
          </aside>

          <div class="page-content">
            <div id="location-text-carousel" class="location-carousel carousel slide carousel-fade" data-ride="carousel" data-interval="0">
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                {{#each slides}}
                  {{#if active}}
                    <div class="item active">
                  {{else}}
                    <div class="item">
                  {{/if}}

                    <div class="page-content-left">
                      <h3>{{title}}</h3>
                      <p>
                        {{body}}
                      </p>

                      <p class="text-carousel-controls">
                        <a class="left more-block" href=".location-carousel" role="button" data-slide="prev">
                          <i class="fa fa-angle-left"></i> {{prev}}
                        </a>
                        <a class="right more-block" href=".location-carousel" role="button" data-slide="next">
                          {{next}} <i class="fa fa-angle-right"></i>
                        </a>
                      </p>
                    </div>
                    <div class="page-content-right">
                      <img src="{{img}}" srcset="{{img2x}} 2x">
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{> _footer}}
</body>
