{{> _head}}

<body class="{{body_class}}" data-language="{{locale}}">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&appId=237433522954836&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  {{> _header}}

  <div class="hidden">
    {{{body}}}
  </div>

  <div class="page">
    <div class="container">
      <div class="page-wrapper">
        <img class="billboard-image" src="/dist/img/home/billboard.jpg" srcset="/dist/img/home/billboard@2x.jpg 2x">

        <div class="front-teasers">
          <div class="front-teaser">
            <h3>
              <a href="{{box_1_url}}">{{box_1_headline}}</a>
            </h3>
            <p class="front-teaser-body">
              {{box_1_teaser}}
            </p>
            <a class="more-block" href="{{box_1_url}}">{{box_1_label}}</a>
          </div>
          <div class="front-teaser">
            <h3>
              <a href="{{box_2_url}}">{{box_2_headline}}</a>
            </h3>
            <p class="front-teaser-body">
              {{box_2_teaser}}
            </p>
            <a class="more-block" href="{{box_2_url}}">{{box_2_label}}</a>
          </div>
          <div class="front-teaser">
            <h3>
              <a href="{{box_3_url}}">{{box_3_headline}}</a>
            </h3>
            <div class="fb-like fb-like-sm" data-href="https://www.facebook.com/headstories.othermatters" data-width="220" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
            <div class="fb-like fb-like-not-sm" data-href="https://www.facebook.com/headstories.othermatters" data-width="280" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
            <a class="more-block" href="{{box_3_url}}" target="_blank">{{box_3_label}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{> _footer}}
</body>
